$react-dates-width-input: 43%;
$react-dates-width-arrow: 25px !default;
$react-dates-width-tooltip-arrow: 20px !default;
$react-dates-spacing-vertical-picker: 72px !default;

$react-dates-color-primary: #faa123 !default;
$react-dates-color-primary-shade-1: #ffd299 !default;
$react-dates-color-primary-shade-2: #ffc266 !default;
$react-dates-color-primary-shade-3: #e48806 !default;
$react-dates-color-primary-shade-4: #ffd299 !default;
$react-dates-color-secondary: #e48806 !default;
$react-dates-color-white: #fff !default;
$react-dates-color-gray: #565a5c !default;
$react-dates-color-gray-dark: darken($react-dates-color-gray, 10.5%) !default;
$react-dates-color-gray-light: lighten($react-dates-color-gray, 17.8%) !default;   // #82888a
$react-dates-color-gray-lighter: lighten($react-dates-color-gray, 45%) !default;     // #cacccd
$react-dates-color-gray-lightest: lighten($react-dates-color-gray, 60%) !default;
$react-dates-color-highlighted: #ffe8bc !default;

$react-dates-color-border: #dbdbdb !default;
$react-dates-color-border-light: #dce0e0 !default;
$react-dates-color-border-medium: #c4c4c4 !default;
$react-dates-color-placeholder-text: #757575 !default;
$react-dates-color-text: #484848 !default;
$react-dates-color-text-focus: white !default;
$react-dates-color-focus: #faa123 !default;

$react-dates-z-index: 0 !default;

.CalendarMonth table {
  background-color: transparent;
}

.DateRangePicker {
  width: 100%;
}

.DateRangePickerInput {
  border-radius: 4px;
  width: 100%;
}

.DateInput {
  font-size: 14px !important;
  font-weight: bold !important;
  padding: 3px !important;
  line-height: 28px !important;
}

.DateInput__display-text {
  padding: 0 10px !important;
}

@import '~react-dates/css/variables.scss';
@import '~react-dates/css/styles.scss';